.footer {
    background-color: #F4DDDD; /* Footer background color */
    height: 60px; /* Height of the footer */
    width: 100%; /* Make sure footer spans full width */
    position: fixed; /* Fixed positioning */
    bottom: 0; /* Sticks the footer to the bottom */
}