<<<<<<< Updated upstream
/* src/pages/admin/admin.css */

.admin-container {
    margin: 20px;
    font-family: Arial, sans-serif;
    padding: 20px; /* Di chuyển từ inline style */
    text-align: center; /* Di chuyển từ inline style */
=======
.admin-container {
    margin: 20px;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
>>>>>>> Stashed changes
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.admin-button {
    margin: 20px;
    padding: 10px 20px;
<<<<<<< Updated upstream
    background-color: #0088FE; /* Bạn có thể tùy chỉnh màu sắc */
=======
    background-color: #0088FE; 
>>>>>>> Stashed changes
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.admin-button:hover {
<<<<<<< Updated upstream
    background-color: #005bb5; /* Màu sắc khi hover */
}

.dashboard-container {
    text-align: center; /* Di chuyển từ inline style */
}

=======
    background-color: #005bb5;
}

.dashboard-container {
    text-align: center;
}
>>>>>>> Stashed changes
