.authen-template {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../images/flower-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.authen-template__form{
    width: 420px;
    color: #CC7A7A;
    background: #F4DDDD ;
    padding: 30px 40px;
    border-radius: 15px;
}

.authen-template__form h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #CC7A7A;
}

.authen-template__form .input-box input {
    height: 50px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #686767;
    padding: 15px;
}

.register-login__link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-login__btn {
    width: 100%;
    background-color: #CC7A7A;
    color: #fff;
    height: 50px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
}

.register-login__btn:hover {
    opacity: 0.6;
}

.register-login__link a {
    color: #CC7A7A;
    font-weight: 600;
    text-decoration: none;
}

.register-login__link p {
    color: #CC7A7A;
}

.register-login__link a {
    margin-left: 4px
}

.register-login__link p a:hover {
    text-decoration: underline;
    cursor: pointer;
}
